body, html {
  background-color: #f4f4f4;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* End sticky footer styles
-------------------------------------------------- */

body {
  color: #52585D;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 700px;
}

.feature {
  background-color: white;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-top: 40px;
  padding: 20px 50px;
}


h1 {
  color: #222;
  font-family: "agb", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: #aaaaaa 1px 1px 1px;
  font-weight: normal;
  font-size: 32px;
}

h2 {
  color: #42484D;
  font-weight: normal;
  font-size: 16px;
}

.description {
  text-align: left;
}

#notices {
  text-align: center;
  min-height: 18px;
  margin-top: 20px;
}

#success {
  color: #40449B;
}

#error {
  color: #E52228;
}

form {
    text-align: center;
    margin-top: 10px;
}

.signup-terms {
  font-size: 11px;
  line-height: 15px;
  color: #7a7a7a;
  font-style: italic;
  max-width: 400px;
  margin: 0 auto;
}

.bottom-nav {
  margin-top: 16px;
  font-size: 16px;
}

a {
      color: #444;
    font-family: "agb", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;

}

a:hover {
      color: #000;
}


@media (max-width: 767px) {
    button {
        margin-top: 10px;
    }
}

.bottom-nav ul li a {
    margin-right: 22px;
}

.social-list-small {
    width: 90px;
    min-height: 75px;
    margin: 40px auto 0;
    list-style-type: none;
    list-style-position: outside;
}